/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  font-size: 10px;
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.row {
  box-sizing: border-box;
  margin: 0 -1.5rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.row.reverse {
  flex-direction: row-reverse;
}

.row.natural-height {
  align-items: flex-start;
}

.row.flex-column {
  flex-direction: column;
}

.col {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 1.5rem;
}

.col.reverse {
  flex-direction: column-reverse;
}

.first {
  order: -1;
}

.last {
  order: 1;
}

.align_start {
  align-self: flex-start;
}

.align_end {
  align-self: flex-end;
}

.align_center {
  align-self: center;
}

.align_baseline {
  align-self: baseline;
}

.align_stretch {
  align-self: stretch;
}

.col_xs {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 1.5rem;
}

.col_xs_1 {
  box-sizing: border-box;
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
  padding: 1.5rem;
}

.col_xs_offset_1 {
  margin-left: 8.3333333333%;
}

.col_xs_2 {
  box-sizing: border-box;
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
  padding: 1.5rem;
}

.col_xs_offset_2 {
  margin-left: 16.6666666667%;
}

.col_xs_3 {
  box-sizing: border-box;
  flex-basis: 25%;
  max-width: 25%;
  padding: 1.5rem;
}

.col_xs_offset_3 {
  margin-left: 25%;
}

.col_xs_4 {
  box-sizing: border-box;
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
  padding: 1.5rem;
}

.col_xs_offset_4 {
  margin-left: 33.3333333333%;
}

.col_xs_5 {
  box-sizing: border-box;
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
  padding: 1.5rem;
}

.col_xs_offset_5 {
  margin-left: 41.6666666667%;
}

.col_xs_6 {
  box-sizing: border-box;
  flex-basis: 50%;
  max-width: 50%;
  padding: 1.5rem;
}

.col_xs_offset_6 {
  margin-left: 50%;
}

.col_xs_7 {
  box-sizing: border-box;
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
  padding: 1.5rem;
}

.col_xs_offset_7 {
  margin-left: 58.3333333333%;
}

.col_xs_8 {
  box-sizing: border-box;
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
  padding: 1.5rem;
}

.col_xs_offset_8 {
  margin-left: 66.6666666667%;
}

.col_xs_9 {
  box-sizing: border-box;
  flex-basis: 75%;
  max-width: 75%;
  padding: 1.5rem;
}

.col_xs_offset_9 {
  margin-left: 75%;
}

.col_xs_10 {
  box-sizing: border-box;
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
  padding: 1.5rem;
}

.col_xs_offset_10 {
  margin-left: 83.3333333333%;
}

.col_xs_11 {
  box-sizing: border-box;
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
  padding: 1.5rem;
}

.col_xs_offset_11 {
  margin-left: 91.6666666667%;
}

.col_xs_12 {
  box-sizing: border-box;
  flex-basis: 100%;
  max-width: 100%;
  padding: 1.5rem;
}

.col_xs_offset_12 {
  margin-left: 100%;
}

.row.start_xs {
  justify-content: flex-start;
}

.row.center_xs {
  justify-content: center;
}

.row.end_xs {
  justify-content: flex-end;
}

.row.top_xs {
  align-items: flex-start;
}

.row.middle_xs {
  align-items: center;
}

.row.bottom_xs {
  align-items: flex-end;
}

.row.around_xs {
  justify-content: space-around;
}

.row.between_xs {
  justify-content: space-between;
}

.first_xs {
  order: -1;
}

.last_xs {
  order: 1;
}

@media only screen and (min-width: 576px) {
  .col_sm {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col_sm_1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col_sm_offset_1 {
    margin-left: 8.3333333333%;
  }

  .col_sm_2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col_sm_offset_2 {
    margin-left: 16.6666666667%;
  }

  .col_sm_3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col_sm_offset_3 {
    margin-left: 25%;
  }

  .col_sm_4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col_sm_offset_4 {
    margin-left: 33.3333333333%;
  }

  .col_sm_5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col_sm_offset_5 {
    margin-left: 41.6666666667%;
  }

  .col_sm_6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col_sm_offset_6 {
    margin-left: 50%;
  }

  .col_sm_7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col_sm_offset_7 {
    margin-left: 58.3333333333%;
  }

  .col_sm_8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col_sm_offset_8 {
    margin-left: 66.6666666667%;
  }

  .col_sm_9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col_sm_offset_9 {
    margin-left: 75%;
  }

  .col_sm_10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col_sm_offset_10 {
    margin-left: 83.3333333333%;
  }

  .col_sm_11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col_sm_offset_11 {
    margin-left: 91.6666666667%;
  }

  .col_sm_12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col_sm_offset_12 {
    margin-left: 100%;
  }

  .row.start_sm {
    justify-content: flex-start;
  }

  .row.center_sm {
    justify-content: center;
  }

  .row.end_sm {
    justify-content: flex-end;
  }

  .row.top_sm {
    align-items: flex-start;
  }

  .row.middle_sm {
    align-items: center;
  }

  .row.bottom_sm {
    align-items: flex-end;
  }

  .row.around_sm {
    justify-content: space-around;
  }

  .row.between_sm {
    justify-content: space-between;
  }

  .first_sm {
    order: -1;
  }

  .last_sm {
    order: 1;
  }
}
@media only screen and (min-width: 768px) {
  .col_md {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col_md_1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col_md_offset_1 {
    margin-left: 8.3333333333%;
  }

  .col_md_2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col_md_offset_2 {
    margin-left: 16.6666666667%;
  }

  .col_md_3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col_md_offset_3 {
    margin-left: 25%;
  }

  .col_md_4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col_md_offset_4 {
    margin-left: 33.3333333333%;
  }

  .col_md_5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col_md_offset_5 {
    margin-left: 41.6666666667%;
  }

  .col_md_6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col_md_offset_6 {
    margin-left: 50%;
  }

  .col_md_7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col_md_offset_7 {
    margin-left: 58.3333333333%;
  }

  .col_md_8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col_md_offset_8 {
    margin-left: 66.6666666667%;
  }

  .col_md_9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col_md_offset_9 {
    margin-left: 75%;
  }

  .col_md_10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col_md_offset_10 {
    margin-left: 83.3333333333%;
  }

  .col_md_11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col_md_offset_11 {
    margin-left: 91.6666666667%;
  }

  .col_md_12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col_md_offset_12 {
    margin-left: 100%;
  }

  .row.start_md {
    justify-content: flex-start;
  }

  .row.center_md {
    justify-content: center;
  }

  .row.end_md {
    justify-content: flex-end;
  }

  .row.top_md {
    align-items: flex-start;
  }

  .row.middle_md {
    align-items: center;
  }

  .row.bottom_md {
    align-items: flex-end;
  }

  .row.around_md {
    justify-content: space-around;
  }

  .row.between_md {
    justify-content: space-between;
  }

  .first_md {
    order: -1;
  }

  .last_md {
    order: 1;
  }
}
@media only screen and (min-width: 992px) {
  .col_lg {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col_lg_1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col_lg_offset_1 {
    margin-left: 8.3333333333%;
  }

  .col_lg_2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col_lg_offset_2 {
    margin-left: 16.6666666667%;
  }

  .col_lg_3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col_lg_offset_3 {
    margin-left: 25%;
  }

  .col_lg_4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col_lg_offset_4 {
    margin-left: 33.3333333333%;
  }

  .col_lg_5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col_lg_offset_5 {
    margin-left: 41.6666666667%;
  }

  .col_lg_6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col_lg_offset_6 {
    margin-left: 50%;
  }

  .col_lg_7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col_lg_offset_7 {
    margin-left: 58.3333333333%;
  }

  .col_lg_8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col_lg_offset_8 {
    margin-left: 66.6666666667%;
  }

  .col_lg_9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col_lg_offset_9 {
    margin-left: 75%;
  }

  .col_lg_10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col_lg_offset_10 {
    margin-left: 83.3333333333%;
  }

  .col_lg_11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col_lg_offset_11 {
    margin-left: 91.6666666667%;
  }

  .col_lg_12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col_lg_offset_12 {
    margin-left: 100%;
  }

  .row.start_lg {
    justify-content: flex-start;
  }

  .row.center_lg {
    justify-content: center;
  }

  .row.end_lg {
    justify-content: flex-end;
  }

  .row.top_lg {
    align-items: flex-start;
  }

  .row.middle_lg {
    align-items: center;
  }

  .row.bottom_lg {
    align-items: flex-end;
  }

  .row.around_lg {
    justify-content: space-around;
  }

  .row.between_lg {
    justify-content: space-between;
  }

  .first_lg {
    order: -1;
  }

  .last_lg {
    order: 1;
  }
}
@media only screen and (min-width: 1200px) {
  .col_xl {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col_xl_1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col_xl_offset_1 {
    margin-left: 8.3333333333%;
  }

  .col_xl_2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col_xl_offset_2 {
    margin-left: 16.6666666667%;
  }

  .col_xl_3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col_xl_offset_3 {
    margin-left: 25%;
  }

  .col_xl_4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col_xl_offset_4 {
    margin-left: 33.3333333333%;
  }

  .col_xl_5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col_xl_offset_5 {
    margin-left: 41.6666666667%;
  }

  .col_xl_6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col_xl_offset_6 {
    margin-left: 50%;
  }

  .col_xl_7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col_xl_offset_7 {
    margin-left: 58.3333333333%;
  }

  .col_xl_8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col_xl_offset_8 {
    margin-left: 66.6666666667%;
  }

  .col_xl_9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col_xl_offset_9 {
    margin-left: 75%;
  }

  .col_xl_10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col_xl_offset_10 {
    margin-left: 83.3333333333%;
  }

  .col_xl_11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col_xl_offset_11 {
    margin-left: 91.6666666667%;
  }

  .col_xl_12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col_xl_offset_12 {
    margin-left: 100%;
  }

  .row.start_xl {
    justify-content: flex-start;
  }

  .row.center_xl {
    justify-content: center;
  }

  .row.end_xl {
    justify-content: flex-end;
  }

  .row.top_xl {
    align-items: flex-start;
  }

  .row.middle_xl {
    align-items: center;
  }

  .row.bottom_xl {
    align-items: flex-end;
  }

  .row.around_xl {
    justify-content: space-around;
  }

  .row.between_xl {
    justify-content: space-between;
  }

  .first_xl {
    order: -1;
  }

  .last_xl {
    order: 1;
  }
}
.col_gutter_lr {
  padding: 0 1.5rem;
}

.col_no_gutter {
  padding: 0;
}

.show {
  display: block !important;
}

.row.show {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hide {
  display: none !important;
}

.show-xs {
  display: block !important;
}

.row.show-xs {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hide-xs {
  display: none !important;
}

@media only screen and (max-width: 575px) {
  .show-xs-only {
    display: block !important;
  }

  .row.show-xs-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-xs-only {
    display: none !important;
  }
}
@media only screen and (min-width: 576px) {
  .show-sm {
    display: block !important;
  }

  .row.show-sm {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-sm {
    display: none !important;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .show-sm-only {
    display: block !important;
  }

  .row.show-sm-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-sm-only {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) {
  .show-md {
    display: block !important;
  }

  .row.show-md {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-md {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .show-md-only {
    display: block !important;
  }

  .row.show-md-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-md-only {
    display: none !important;
  }
}
@media only screen and (min-width: 992px) {
  .show-lg {
    display: block !important;
  }

  .row.show-lg {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-lg {
    display: none !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .show-lg-only {
    display: block !important;
  }

  .row.show-lg-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-lg-only {
    display: none !important;
  }
}
@media only screen and (min-width: 1200px) {
  .show-xl {
    display: block !important;
  }

  .row.show-xl {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-xl {
    display: none !important;
  }
}
.breadcrumb {
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  margin: 0 0 20px 0;
}
.breadcrumb > li {
  line-height: 20px;
  display: inline-block;
  font-size: 1.6rem;
}
.breadcrumb > li:after {
  content: ">";
  padding: 0 5px;
}
.btn_main {
  color: #fff;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 1.5rem 2rem;
  outline: none;
  text-decoration: none;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  background: #487cbe;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid transparent;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.btn_main:hover {
  color: #fff;
  background: #127aff;
  text-decoration: none;
}
.btn_main:focus, .btn_main.focus {
  outline: 0;
  color: #fff;
  text-decoration: none;
}
.btn_main:active {
  background: #0f5dc0;
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.embed-responsive::before {
  display: block;
  content: "";
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-21by9::before {
  padding-top: 42.8571428571%;
}

.embed-responsive-16by9::before {
  padding-top: 56.25%;
}

.embed-responsive-4by3::before {
  padding-top: 75%;
}

.embed-responsive-1by1::before {
  padding-top: 100%;
}

.img-fluid {
  height: auto;
  display: block;
  max-width: 100%;
}

.ico-svg {
  position: relative;
  display: inline-block;
  width: auto;
  height: 100%;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.hide {
  opacity: 0 !important;
  display: none !important;
  visibility: hidden !important;
}

.text_center {
  text-align: center !important;
}

.text_right {
  text-align: right !important;
}

.text_justify {
  text-align: justify !important;
}

.text_nowrap {
  white-space: nowrap !important;
}

.text_lowercase {
  text-transform: lowercase !important;
}

.text_uppercase {
  text-transform: uppercase !important;
}

.text_capitalize {
  text-transform: capitalize !important;
}

.color_blue {
  color: #487cbe;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #2D2926;
  font-family: "PT Sans", Arial, sans-serif;
  background-color: #fff;
  font-size: 1.6rem;
  line-height: 1.4;
}

.container {
  margin: 0 auto;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.container:before, .container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
@media (min-width: 576px) {
  .container {
    width: 530px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 950px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

h1, .h1 {
  color: #424242;
  font-weight: 400;
  font-size: 2.8rem;
  line-height: 3.2rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
}
h1 span, .h1 span {
  padding-bottom: 0.4rem;
  position: relative;
  display: inline-block;
}
h1 span:before, .h1 span:before {
  left: 0;
  bottom: 0;
  content: "";
  width: 70px;
  height: 3px;
  position: absolute;
  display: inline-block;
  background: #487cbe;
}

h4, .h4 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.2rem;
  margin-bottom: 1rem;
}

.a {
  outline: none;
  color: #487cbe;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
.a:hover {
  color: #487cbe;
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0 0 10px 0;
  padding: 0 0 0 30px;
}
.list > li {
  margin-bottom: 10px;
}
.list > li:last-child {
  margin-bottom: 0;
}
.list > li > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.list > li > ul:last-child {
  margin-bottom: 0;
}

.footer {
  width: 100%;
  height: 160px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #487cbe;
}

.logo-footer {
  width: 130px;
  height: 100px;
  background-image: url("../img/logo-footer.png");
  background-repeat: no-repeat;
}

.col-footer > div {
  font-size: 15px;
  color: #fff;
  margin-bottom: 15px;
}

.col-footer > div img {
  display: inline-block;
  margin-right: 10px;
  width: 20px;
}

.footer-navbar {
  margin-top: 40px;
  padding-left: 0;
}

.footer-navbar li {
  display: inline-block;
  margin-right: 20px;
}

.footer-navbar li a {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}

.footer-navbar li a:hover {
  color: #dfeff0;
  text-decoration: none;
}

.page {
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main {
  background: #fff;
  padding-top: 6rem;
  padding-bottom: 5rem;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.main.main_bg_line {
  background-image: url("../img/pattern.png");
}
.main.main_bg_tile {
  background-image: url("../img/bg_tile.jpg");
}
.main__blue {
  color: #fff;
  padding: 3rem;
  background: #487cbe;
}

.requisites {
  margin: 0 -1.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.requisites .requisites_item {
  padding: 2rem 3rem;
  background: #fff;
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: center;
  color: #424242;
  width: calc(33.33% - 3rem);
  margin: 0 1.5rem 3rem 1.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
}
.requisites .requisites_item ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.requisites .requisites_item ul li {
  margin-bottom: 10px;
}
.requisites .requisites_item ul li:last-child {
  margin-bottom: 0;
}
.requisites .requisites_item_wrap {
  width: 100%;
  margin: auto 0;
}
.requisites .requisites_logo {
  width: 230px;
  margin: auto;
}

.tel {
  text-decoration: none;
}
.tel:hover {
  text-decoration: none;
  color: #487cbe;
}

.footer_tel {
  color: #fff;
  text-decoration: none;
}
.footer_tel:hover {
  text-decoration: none;
  color: #fff;
}

.main_slider {
  position: relative;
  padding-bottom: 5.6rem;
}
.main_slider .swiper-slide {
  border: none;
  outline: none;
  height: auto !important;
}
.main_slider .swiper-slide a {
  border: none;
  outline: none;
  display: block;
}
.main_slider .swiper-button-prev,
.main_slider .swiper-button-next {
  top: auto;
  border: none;
  outline: none;
  bottom: 1px;
  width: 40px;
  height: 40px;
  margin-top: 0;
  font-size: 2rem;
  line-height: 2rem;
  background: #fff;
  padding: 1rem 0;
  color: #487cbe;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.main_slider .swiper-button-prev {
  left: 50%;
  margin-left: -50px;
}
.main_slider .swiper-button-next {
  right: 50%;
  margin-right: -50px;
}

.content_box {
  margin-bottom: 3rem;
}
.content_box:before, .content_box:after {
  content: " ";
  display: table;
}
.content_box:after {
  clear: both;
}
.content_box:last-child {
  margin-bottom: 0;
}
.content_box .content_box_image {
  width: 50%;
  margin-bottom: 0.5rem;
}
.content_box p:last-child {
  margin: 0;
}

.block_left {
  float: left;
  margin-right: 1.5rem;
  padding-right: 1.5rem;
}

.block_right {
  float: right;
  margin-left: 1.5rem;
  padding-left: 1.5rem;
}

.img_center {
  max-width: 700px;
  margin: 20px auto;
}

/*# sourceMappingURL=main.css.map */
