/*@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700&subset=cyrillic,cyrillic-ext');
*/

h1,h2,h3,h4,h5,h6,p,div,span,a,li,small, i, input, button, label, textarea{
	font-family: 'PT Sans', sans-serif;
}
ul, li{
	list-style-type: none;
}


.active{
//	font-weight: 700;
}

/* Left Top Section */
.col-left{
	width: 300px;
	padding: 4.5px;
	float: left;
	border-left: 1px solid #487cbe;
	border-right: 1px solid #487cbe;
}
.col-left > div{
	font-size: 19px;
	text-align: left;
	color: #487cbe;
}
.col-left .block-center{
	padding-left: 20px;
}
.types .col-lg-2{
	padding-left: 0;
}
/* Right Top Section */
.col-right{
	width: 870px;
	float: left;
	padding-top: 18px;
	padding-left: 30px;
	/* padding-bottom: 5px; */
}
.brand{
	width: 70px;
	height: 50px;
	background-image: url(../img/logo.png);
	float: left;
}
.navbar-menu li a{
	font-size: 16px;
	display: inline-block;
	padding-top: 18px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 31px;
}
.navbar-menu > li:first-child a{
	border-bottom: 3px solid #487cbe;
	font-weight: bold;
}
.navbar-menu li a i{
	font-size: 11px;
}
.navbar-menu li:hover > a{
	font-weight: bold;
	
	text-decoration: none;
	color: #487cbe;
}
.dropdown-menu div:hover a{
	font-weight: bold;
	text-decoration: none;
	color: #487cbe;
}
.mdrop{
	width: 200px;
}
.mdrop div a{
	padding: 10px;
}
/* Video Section */
.bg{
	width: 100%;
	height: 420px;
	background-image: url(../img/video.png);
	background-repeat: no-repeat;
	background-size: cover;
	-ms-background-position: center center;
	background-position: center center;
}

.shape{
	width: 100%;
	height: auto;
	background-image: url(../img/shape.png);
	padding-top: 50px;
	padding-bottom: 40px;
}
.works{
	font-size: 28px;
	text-transform: uppercase;
	margin-bottom: 60px;
	position: relative;
}
.works:after{
	content: "";
    width: 70px;
    height: 3px;
    background-color: #487bcd;
    position: absolute;
    left: 0;
    bottom: -5px;
}
.work-img{
	height: 50px;
	margin-bottom: 30px;
	margin-right: auto;
	margin-left: auto;
	background-repeat: no-repeat;
	text-align: center;
}
.shape p{
	text-align: center;
	font-size: 16px;
}



/* Palette */

.palette{
	width: 100%;
	height: 530px;
	background-image: url(../img/palette.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 20px;
}
.group{
	width: 575px;
	height: 420px;
	background-repeat: no-repeat;
	margin: 20px auto;
}
.license{
	font-size: 28px;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	position: relative;
}
.license:after{
	content: "";
    width: 70px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -5px;
}
.figures{
	padding-top: 20px;
	padding-bottom: 20px;
}
.figures h3{
	font-size: 60px;
	color: #487bce;
	text-align: center;
	font-weight: 600;
}
.figures p{
	font-size: 16px;
	text-align: center;
}


.types{
	width: 100%;
	height: 400px;
	background-image: url(../img/shape.png);
	padding-top: 20px;
	padding-bottom: 20px;
}
.type-img{
	width: 185px;
	height: 185px;
	background-size: cover;
	-webkit-background-size: cover;
	display: block;
}

.type-text{
	font-size: 28px;
	text-transform: uppercase;
	margin-bottom: 30px;
	position: relative;
}
.type-text:after{
	content: "";
    width: 70px;
    height: 3px;
    background-color: #487bcd;
    position: absolute;
    left: 0;
    bottom: -5px;
}
.types p{
	font-size: 16px;
	text-align: center;
	margin-top: 5px;
}



.advantages{
	padding-top: 20px;
	padding-bottom: 20px;
}
.advantage-text{
	font-size: 28px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 40px;
	position: relative;
}
.advantage-text:after{
	content: "";
    width: 70px;
    height: 3px;
    background-color: #487bcd;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -5px;
}
.advantage-img{
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	margin: 20px auto;
}
.advantages p{
	font-size: 16px;
	text-align: center;
}


.objects{
	width: 100%;
	height: auto;
	background-color: #dfeff0;
	padding-top: 20px;
	padding-bottom: 30px;
}
.foto-text{
	font-size: 28px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 50px;
	position: relative;
}
.foto-text:after{
	content: "";
    width: 70px;
    height: 3px;
    background-color: #487bcd;
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translate(-50%);
}
.slider-box{
	width: 100%;
	height: 231px;
	overflow: hidden;
	position: relative;
}
.slider-box .chevron{
	position: absolute;
	top: 50%;
}
.slider-box .chevron i{
	font-size: 25px;
	color: #000;
}
.slider-box .left-scroll{
	left: 50px;
}
.slider-box .right-scroll{
	right: 50px;
}
.slider-box .left-scroll, .slider-box .right-scroll{
	background-color: #1955a1;
	border:0;
	color: #fff;
}
.slider-box .left-scroll i, .slider-box .right-scroll i{
	color: #fff;
}
.sliders-list{
	width: 2400px;
	height: 222px;
	padding-top: 30px;
	position: relative;
	left: 0;
	transition: .5s;
}
.slide-section{
	width: 270px;
	height: 200px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	margin-right: 20px;
	display: inline-block;
}


.our-clients{
	font-size: 28px;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	padding-top: 30px;
	top: 7px;
	z-index: 9999;
}
.our-clients:after{
	content: "";
    width: 70px;
    height: 3px;
    background-color: #487bcd;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -5px;
}





/*Carousel Col-md-2*/
.carousel-inner  .col-md-2{
	width: 19.96667%;
}
.thumbnail > div{
	width: 100%;
	height: 90px;
	background-repeat: no-repeat;
	background-position: center center;
}
.phone-icon > i{
	transform: rotate(90deg);
}


/*Slider Swiper*/
 html, body {
  position: relative;
  height: 100%;
}

.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  background-size: cover;
  background-position: center center;
  height: 200px !important;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  /* display: flex; */
  /* -webkit-box-pack: center; */
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  /* justify-content: center; */
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-repeat: no-repeat;
}
.partners-slider > div > div{
	width: 100%;
	height: 90px;
	background-repeat: no-repeat;
	background-position: center center !important;
	border:1px solid #999;
}
.partner-slider{
	padding-bottom: 30px;
}