.page {
	width: 100%;
	min-height: 100%;
	@include flexbox();
	@include flex-direction(column);
}

.main {
	background: #fff;
	padding-top: 6rem;
	padding-bottom: 5rem;
	@include flex-grow(1);

	&.main_bg_line {
		background-image: url('../img/pattern.png');
	}

	&.main_bg_tile {
		background-image: url('../img/bg_tile.jpg');
	}

	&__blue {
		color: #fff;
		padding: 3rem;
		background: #487cbe;
	}
}

.requisites {
	margin: 0 -1.5rem;
	@include flexbox();
	@include flex-wrap(wrap);

	.requisites_item {
		padding: 2rem 3rem;
		background: #fff;
		font-size: 1.6rem;
		line-height: 2rem;
		text-align: center;
		color: $color-gray;
		width: calc(33.33% - 3rem);
		margin: 0 1.5rem 3rem 1.5rem;
		@include flexbox();
		@include box-shadow(0px 3px 10px 0px rgba(0, 0, 0, 0.2));

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				margin-bottom: 10px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	.requisites_item_wrap {
		width: 100%;
		margin: auto 0;
	}

	.requisites_logo {
		width: 230px;
		margin: auto;
	}
}

.tel {
	text-decoration: none;

	&:hover {
		text-decoration: none;
		color: #487cbe;
	}
}

.footer_tel {
	color: #fff;
	text-decoration: none;

	&:hover {
		text-decoration: none;
		color: #fff;
	}
}

// upd 16.08

.main_slider {
	position: relative;
	padding-bottom: 5.6rem;

	.swiper-slide {
		border: none;
		outline: none;
		height: auto !important;

		a {
			border: none;
			outline: none;
			display: block;
		}
	}

	.swiper-button-prev,
	.swiper-button-next {
		top: auto;
		border: none;
		outline: none;
		bottom: 1px;
		width: 40px;
		height: 40px;
		margin-top: 0;
		font-size: 2rem;
		line-height: 2rem;
		background: #fff;
		padding: 1rem 0;
		color: $color-blue;
		text-align: center;
		@include border-radius(50%);
	}

	.swiper-button-prev {
		left: 50%;
		margin-left: -50px;
	}

	.swiper-button-next {
		right: 50%;
		margin-right: -50px;
	}
}

.content_box {
	@include clearfix();
	margin-bottom: 3rem;

	&:last-child {
		margin-bottom: 0;
	}

	.content_box_image {
		width: 50%;
		margin-bottom: 0.5rem;

	}

	p {
		&:last-child {
			margin: 0;
		}
	}
}


.block_left {
	float: left;
	margin-right: 1.5rem;
	padding-right: 1.5rem;
}


.block_right {
	float: right;
	margin-left: 1.5rem;
	padding-left: 1.5rem;
}

.img_center {
	max-width: 700px;
	margin: 20px auto;
}

