.footer{
	width: 100%;
	height: 160px;
	padding-top: 30px;
	padding-bottom: 20px;
	background-color: $color-blue;
}
.logo-footer{
	width: 130px;
	height: 100px;
	background-image: url('../img/logo-footer.png');
	background-repeat: no-repeat;
}
.col-footer > div{
	font-size: 15px;
	color: #fff;
	margin-bottom: 15px;
}
.col-footer > div img{
	display: inline-block;
	margin-right: 10px;
	width: 20px;
}
.footer-navbar{
	margin-top: 40px;
	padding-left: 0;
}
.footer-navbar li{
	display: inline-block;
	margin-right: 20px;
}
.footer-navbar li a{
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
}
.footer-navbar li a:hover{
	color: #dfeff0;
	text-decoration: none;
}