* {
	@include box-sizing(border-box);
}
*:before,
*:after {
	@include box-sizing(border-box);
}


body {
	color: $color-base;
	font-family: $font-family-base;
	background-color: $body-bg;
	font-size: $font-size-base;
	line-height: $line-height-base;
}


.container {
	margin: 0 auto;
//	padding: 0 1.5rem;
//	width: 1200px !important;
}

.container {
	margin-right: auto;
	margin-left: auto;
	padding-left:  ($gutter);
	padding-right: ($gutter);
	@include clearfix;

	@media (min-width: $screen-sm-min) {
		width: $container-sm;
	}

	@media (min-width: $screen-md-min) {
		width: $container-md;
	}

	@media (min-width: $screen-lg-min) {
		width: $container-lg;
	}

	@media (min-width: $screen-xl-min) {
		width: $container-xl;
	}
}


// Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	margin: 0;
	padding: 0;
	line-height: 1.2;
}

h1, .h1 {
	color: #424242;
	font-weight: 400;
	font-size: 2.8rem;
	line-height: 3.2rem;
	margin-bottom: 5rem;
	text-transform: uppercase;

	span {
		padding-bottom: 0.4rem;
		position: relative;
		display: inline-block;

		&:before {
			left: 0;
			bottom: 0;
			content: '';
			width: 70px;
			height: 3px;
			position: absolute;
			display: inline-block;
			background: $color-blue;
		}
	}
}

h2, .h2 {

}

h3, .h3 {

}

h4, .h4 {
	font-weight: 700;
	font-size: 1.8rem;
	line-height: 2.2rem;
	margin-bottom: 1rem;
}

h5, .h5 {

}

h6, .h6 {

}



// Links

.a {
	outline: none;
	color: $link-color;
	text-decoration: $link-decoration;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;

	&:hover {
		color: $link-hover-color;
		text-decoration: $link-hover-decoration;
	}
}

.list {
	list-style: none;
	margin: 0 0 10px 0;
	padding: 0 0 0 30px;

	> li {
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0;
		}

		> ul {
			margin: 0;
			padding: 0;
			list-style: none;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}