
.btn_main {
	color: #fff;
	font-weight: 700;
	font-size: 1.6rem;
	line-height: 2rem;
	padding: 1.5rem 2rem;
	outline: none;
	text-decoration: none;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	background: #487cbe;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid transparent;
	@include border-radius(4px);
	@include transition(.2s);

	&:hover {
		color: #fff;
		background: #127aff;
		text-decoration: none;
	}

	&:focus,
	&.focus {
		outline: 0;
		color: #fff;
		text-decoration: none;
	}

	&:active {
		background: #0f5dc0;
	}
}

