// Creds to https://github.com/kristoferjoseph/flexboxgrid
// No gutters
// No text alignment with justified container classes (center-xs, for example)

.row {
  @include row();
}

.row.reverse {
  @include row-reverse();
}

.row.natural-height {
  @include row-natural-height();
}

.row.flex-column {
  @include row-flex-column();
}

.col {
  @include col();
}

.col.reverse {
  @include col-reverse();
}

.first {
  order: -1;
}

.last {
  order: 1;
}

.align_start {
  align-self: flex-start;
}

.align_end {
  align-self: flex-end;
}

.align_center {
  align-self: center;
}

.align_baseline {
  align-self: baseline;
}

.align_stretch {
    align-self: stretch;
}

// Mixin to run inside of for loop - creates col/breakpoint classes * Not for developer use *
@mixin col-factory($thisPrefix) {
  .col_#{$thisPrefix} {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: $gutter;
  }
  @for $i from 1 through $grid-columns {
    .col_#{$thisPrefix}_#{$i} {
      box-sizing: border-box;
      flex-basis: 100% / $grid-columns * $i;
      max-width: 100% / $grid-columns * $i;
      padding: $gutter;
    }
    .col_#{$thisPrefix}_offset_#{$i} {
      margin-left: 100% / $grid-columns * $i;
    }
  }
  .row.start_#{$thisPrefix} {
    justify-content: flex-start;
  }
  .row.center_#{$thisPrefix} {
    justify-content: center;
  }
  .row.end_#{$thisPrefix} {
    justify-content: flex-end;
  }
  .row.top_#{$thisPrefix} {
    align-items: flex-start;
  }
  .row.middle_#{$thisPrefix} {
    align-items: center;
  }
  .row.bottom_#{$thisPrefix} {
    align-items: flex-end;
  }
  .row.around_#{$thisPrefix} {
    justify-content: space-around;
  }
  .row.between_#{$thisPrefix} {
    justify-content: space-between;
  }
  .first_#{$thisPrefix} {
    order: -1;
  }
  .last_#{$thisPrefix} {
    order: 1;
  }
} // Mixin to run inside of for loop - creates col/breakpoint classes

@for $i from 1 through length($breakpoint-up-prefixes) {
  $thisPrefix: nth($breakpoint-up-prefixes, $i);
  @if $thisPrefix == "xs" {
    @include col-factory($thisPrefix);
  } @else if $thisPrefix == "sm" {
    @media #{$breakpoint-sm-up} {
      @include col-factory($thisPrefix);
    }
  } @else if $thisPrefix == "md" {
    @media #{$breakpoint-md-up} {
      @include col-factory($thisPrefix);
    }
  } @else if $thisPrefix == "lg" {
    @media #{$breakpoint-lg-up} {
      @include col-factory($thisPrefix);
    }
  } @else if $thisPrefix == "xl" {
    @media #{$breakpoint-xl-up} {
      @include col-factory($thisPrefix);
    }
  }
}

.col_gutter_lr {
    padding: 0 $gutter;
}

.col_no_gutter {
    padding: 0;
}
